
@model RejectFormModel
@{
    ViewData["Title"] = "ApproveOrReject";

}
    <h1 class="title">Urendeclaratieformulier</h1>

<div class="approvereject Container-1">
    <br />
    <br />
    <div class="box-30left">
        <div>
            Medewerker: @Model.declarationFormModel.EmployeeName
            <br />
            Maand: @Model.declarationFormModel.Month

        </div>

        <br />
        Op dit scherm kunt u kiezen of u het urendeclaratieformulier van @Model.declarationFormModel.EmployeeName goedkeurt of afkeurt. Geef bij het afkeuren ook aan waarom het formulier wordt afgekeurd.
    </div>
    <br />
    <div class="box-70right">
        <div class="Container-1">
            <div class="box-5050">
                <form method="post">
                    <button class="btn-primary" asp-action="Approve" asp-controller="Mailservice" asp-route-formId=@Model.declarationFormModel.FormId>Goedkeuren</button>
                </form>
            </div>
            <div class="box-5050">
                <form method="post">

                    <button class="btn-primary" asp-action="Reject" asp-controller="Mailservice" asp-route-formId=@Model.declarationFormModel.FormId>Afkeuren</button>
                    <br />
                    <br />
                    @Html.HiddenFor(p => p.declarationFormModel.FormId)
                    @Html.ValidationMessageFor(p => p.comment)
                    @if (Model.commentNotValid)
                    {
                        <div class="validation-failed">
                            Dit veld is verplicht!
                        </div>
                    }
                    @Html.TextAreaFor(p => p.comment, 5, 40, new { @class = "wide-textbox" })
                    @*@Html.TextBoxFor(p => p.comment, new { @class= "wide-textbox" })*@
                    
                </form>
            </div>
        </div>
        <br />
    </div>
    <br />
    <br />

</div>

<table class="fl-table" align="center">
    <thead>
        <tr>
            <th class="tableHeader">Date</th>
            <th class="tableHeader">Gewerkt</th>
            <th class="tableHeader">Overwerk</th>
            <th class="tableHeader">Ziekte</th>
            <th class="tableHeader">Vakantie</th>
            <th class="tableHeader">Feestdagen</th>
            <th class="tableHeader">Training</th>
            <th class="tableHeader">Overig</th>
            <th>Overig Uitleg</th>
        </tr>
    </thead>

    <tbody>
        @Html.DisplayFor(m => Model.declarationFormModel.HourRows)
    </tbody>
</table>
