@*nog aanpassen naar juiste model*@
@model List<UrenRegistratieQien.Models.DeclarationFormModel>

@{
    ViewData["Title"] = "Administrator Page";
    var employeeId = Model[0].EmployeeId;
     var years = new List<int>();
    foreach(DeclarationFormModel declarationFormModel in ViewBag.AllForms)
    {
        if (!years.Contains(declarationFormModel.Year))
        {
            years.Add(declarationFormModel.Year);
        }
    }   
}

<br>
<br>
<br>
<div align="center">
    <h1>Welkom @ViewBag.User.FirstName</h1>
</div>

<div>
    <div class="table-wrapper" align="center">
        <table class="fl-table">

            <thead>
                <tr>
                    <th>Werknemer</th>
                    <th>Werkgever</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@ViewBag.User.FirstName @ViewBag.User.LastName</td>
                    <td>@ViewBag.Client.Contact1Name</td>
                </tr>
                <tr>
                    <td>@ViewBag.User.Address</td>
                    <td>@ViewBag.Client.CompanyName</td>
                </tr>
                <tr>
                    <td>@ViewBag.User.ZIPCode, @ViewBag.User.Residence</td>
                    <td>Postcode en woonplaats</td>
                </tr>
                <tr>
                    <td>@ViewBag.User.Phone</td>
                    <td>@ViewBag.Client.Contact1Phone</td>
                </tr>
                <tr>
                    <td>@ViewBag.User.Email</td>
                    <td>@ViewBag.Client.Contact1Email</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<br />

<div align="center">
    <h1>Urenoverzicht</h1>
</div>
<form asp-controller="DeclarationForm" asp-action="CreateForm" asp-route-employeeId=@employeeId>
    <input type="submit" value="Nieuw Formulier Maken"/>
</form>


<div class="table-wrapper">

    <table class="fl-table" align="center">
        @using (Html.BeginForm("Dashboard", "Employee"))
        {
            <input type="submit" value="Filters Toepassen" />
            <thead>
                <tr>
                    <th>
                        Jaar
                        @Html.DropDownList("year", new SelectList(years), DateTime.Now.Year)
                    </th>
                    <th>
                        Maand
                        @Html.DropDownList("month", new SelectList(Enum.GetValues(typeof(Months))), "Geen filter")
                    </th>
                    <th>Uren gewerkt</th>
                    <th>Overwerk</th>
                    <th>Ziekte</th>
                    <th>
                        Status
                        @Html.DropDownList("approved", new SelectList(new List<string> { "Goedgekeurd", "Niet goedgekeurd" }), "Geen filter")

                    </th>
                    <th>
                        Ingediend
                        @Html.DropDownList("submitted", new SelectList(new List<string> { "Ingediend", "Niet ingediend" }), "Geen filter")

                    </th>
                    <th>Opmerking</th>
                    <th>Inzien</th>
                </tr>
            </thead>

        }

        <tbody>
            @foreach (var form in Model)
            {
                <tr>
                    <td>@form.Year</td>
                    <td>@form.Month</td>
                    <td>uren gewerkt</td>
                    <td>overwerk</td>
                    <td>Ziekte</td>

                    <td>
                        @if (form.Approved == true)
                        {
                            <img class="center" src="..\..\Images\Checkmark.jpg" style="margin: 0 auto; height: 15px; width: 20px" />
                        }
                        else
                        {
                            <img class="center" src="..\..\Images\xmark.png" style="margin: 0 auto; height: 15px; width: 15px" />
                        }
                    </td>

                    <td>
                        @if (form.Submitted == true)
                        {
                            <img class="center" src="..\..\Images\Checkmark.jpg" style="margin: 0 auto; height: 15px; width: 20px" />
                        }
                        else
                        {
                            <img class="center" src="..\..\Images\xmark.png" style="margin: 0 auto; height: 15px; width: 15px" />
                        }
                    </td>

                    <td>@form.Comment</td>
                    <td>
                        <a class="nav-link text-dark linkjes"
                           asp-area=""
                           asp-controller="DeclarationForm"
                           asp-action="HourReg"
                           asp-route-declarationFormId="@form.FormId"
                           asp-route-userId="@ViewBag.User.EmployeeId"
                           asp-route-month="@form.Month"
                           asp-route-year="@form.Year">
                            Inzien
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
