@model List<UrenRegistratieQien.Models.DeclarationFormModel>

@{
    ViewData["Title"] = "Administrator Page";

    var employeeId = ViewBag.userId;
    var years = new List<int>();
    var employeeName = ViewBag.User.FirstName + " " + ViewBag.User.LastName;
    foreach(DeclarationFormModel declarationFormModel in ViewBag.AllForms)
    {
        if (!years.Contains(declarationFormModel.Year))
        {
            years.Add(declarationFormModel.Year);
        }
    }
    var model = (EmployeeModel)ViewBag.User;
}

<div class="Container-1">
    <div class="box-1">
        @Html.Partial("_SideBoxEmployee", model)
    </div>
    <div class="box-2">
        <div align="center">
            <h1>Urenoverzicht</h1>
        </div>
        <div>
            <form asp-controller="Employee" asp-action="CreateForm" asp-route-employeeId=@ViewBag.userId>
                <input class="btn-primary btn btnposition-right btn-onelinedown" type="submit" value="Nieuw formulier maken" />
            </form>
            @using (Html.BeginForm("Dashboard", "Employee"))
            {
                <input class="btn-primary btn btnposition" type="image" alt="filter toepassen" src="..\..\Images\Filter_Icon_White_Small.png" title="filter toepassen"/>
                <table class="fl-table table-wrapper">
                    <thead>
                        <tr>
                            <th>
                                Jaar
                                @Html.DropDownList("year", new SelectList(years), "Geen filter")
                            </th>
                            <th>
                                Maand
                                @Html.DropDownList("month", new SelectList(Enum.GetValues(typeof(Months))), "Geen filter")
                            </th>
                            <th>Uren gewerkt</th>
                            <th>Overwerk</th>
                            <th>Ziekte</th>
                            <th>
                                Status
                                @Html.DropDownList("approved", new SelectList(new List<string> { "Goedgekeurd", "In Afwachting", "Afgekeurd" }), "Geen filter")

                            </th>
                            <th>
                                Ingediend
                                @Html.DropDownList("submitted", new SelectList(new List<string> { "Ingediend", "Niet ingediend" }), "Geen filter")

                            </th>
                            <th>Opmerking</th>
                            <th>Inzien</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var form in Model)
                        {
                            <tr>
                                <td>@form.Year</td>
                                <td>@form.Month</td>
                                <td>@form.TotalWorkedHours</td>
                                <td>@form.TotalOvertime</td>
                                <td>@form.TotalSickness</td>
                                <td>
                                    @if (form.Approved == "Approved")
                                    {
                                        <img class="center" src="..\..\Images\Checkmark.png" style="margin: 0 auto; height: 15px; width: 25px" />
                                    }
                                    else if (form.Approved == "Rejected")
                                    {
                                        <img class="center" src="..\..\Images\xmark.png" style="margin: 0 auto; height: 15px; width: 15px" />
                                    }
                                    else if (form.Approved == "Pending")
                                    {
                                        <img class="center" src="..\..\Images\Pending.jpg" style="margin: 0 auto; height: 20px; width: 20px" />
                                    }
                                </td>
                                <td>
                                    @if (form.Submitted == true)
                                    {
                                        <img class="center" src="..\..\Images\Checkmark.png" style="margin: 0 auto; height: 15px; width: 25px" />
                                    }
                                    else
                                    {
                                        <img class="center" src="..\..\Images\xmark.png" style="margin: 0 auto; height: 15px; width: 15px" />
                                    }
                                </td>
                                <td>@form.Comment</td>
                                <td>
                                    <a asp-area=""
                                        asp-controller="Employee"
                                        asp-action="HourReg"
                                        asp-route-declarationFormId="@form.FormId"
                                        asp-route-userId="@ViewBag.User.EmployeeId"
                                        asp-route-employeeName="@employeeName"
                                        asp-route-month="@form.Month"
                                        asp-route-year="@form.Year">
                                        Inzien
                                    </a>
                                    <a asp-area=""
                                        asp-controller="Download"
                                        asp-action="DownloadExcel"
                                        asp-route-formId="@form.FormId">
                                        Download Excel
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
        </div>
    </div>
</div>


