@*nog aanpassen naar juiste model*@
@model List<UrenRegistratieQien.Models.DeclarationFormModel>

@{
    ViewData["Title"] = "Administrator Page";

    var employeeId = ViewBag.userId;
    var years = new List<int>();
    var employeeName = ViewBag.User.FirstName + " " + ViewBag.User.LastName;
    foreach(DeclarationFormModel declarationFormModel in ViewBag.AllForms)
    {
        if (!years.Contains(declarationFormModel.Year))
        {
            years.Add(declarationFormModel.Year);
        }
    }
}

<br />
<br />
<br />
<br />

<div class="Container-1">
    <div class="box-1">
        <div class="Naam">@ViewBag.User.FirstName @ViewBag.User.LastName</div>
        <div align="center"><img src="..\..\Images\UserImageTest.jpg" style="margin: 0 auto; height: 140px; width: 140px" /></div>
        <div class="TextInBox">Algemeen</div>
        <a asp-controller="Employee" asp-action="Info">Info</a><br />
        <a asp-controller="Employee" asp-action="Dashboard">Dashboard</a>
        <br />
        <br />
        <br />
        @*<div class="TextInBox">Medewerkers</div>
            <a asp-controller="Admin" asp-action="ShowEmployees">Medewerkers</a> <br />
            <a asp-area="Identity" asp-page="/Account/Register">Maak een gebruiker aan</a>
            <br />
            <br />
            <br />
            <div class="TextInBox">Opdrachtgevers</div>
            <a asp-controller="Admin" asp-action="ShowClients">Opdrachtgevers</a><br />
            <a asp-controller="Admin" asp-action="AddClient">Voeg opdrachtgever toe</a>*@
    </div>



    <div class="box-2">
        <form asp-controller="DeclarationForm" asp-action="CreateForm" asp-route-employeeId=@employeeId>
            <input type="submit" value="Nieuw Formulier Maken" />
        </form>
        <table class="fl-table table-wrapper" align="center">
            @using (Html.BeginForm("Dashboard", "Employee"))
            {
                <input type="submit" value="Filters Toepassen" />
                <thead>
                    <tr>
                        <th>
                            Jaar
                            @Html.DropDownList("year", new SelectList(years), "Geen filter")
                        </th>
                        <th>
                            Maand
                            @Html.DropDownList("month", new SelectList(Enum.GetValues(typeof(Months))), "Geen filter")
                        </th>
                        <th>Uren gewerkt</th>
                        <th>Overwerk</th>
                        <th>Ziekte</th>
                        <th>
                            Status
                            @Html.DropDownList("approved", new SelectList(new List<string> { "Goedgekeurd", "Niet goedgekeurd" }), "Geen filter")

                        </th>
                        <th>
                            Ingediend
                            @Html.DropDownList("submitted", new SelectList(new List<string> { "Ingediend", "Niet ingediend" }), "Geen filter")

                        </th>
                        <th>Opmerking</th>
                        <th>Inzien</th>
                    </tr>
                </thead>

            }

            <tbody>
                @foreach (var form in Model)
                {
                    <tr>
                        <td>@form.Year</td>
                        <td>@form.Month</td>
                        <td>uren gewerkt</td>
                        <td>overwerk</td>
                        <td>Ziekte</td>

                        <td>
                            @if (form.Approved == true)
                            {
                                <img class="center" src="..\..\Images\Checkmark.jpg" style="margin: 0 auto; height: 15px; width: 20px" />
                            }
                            else
                            {
                                <img class="center" src="..\..\Images\xmark.png" style="margin: 0 auto; height: 15px; width: 15px" />
                            }
                        </td>

                        <td>
                            @if (form.Submitted == true)
                            {
                                <img class="center" src="..\..\Images\Checkmark.jpg" style="margin: 0 auto; height: 15px; width: 20px" />
                            }
                            else
                            {
                                <img class="center" src="..\..\Images\xmark.png" style="margin: 0 auto; height: 15px; width: 15px" />
                            }
                        </td>

                        <td>@form.Comment</td>
                        <td>
                            <a class="nav-link text-dark linkjes"
                               asp-area=""
                               asp-controller="DeclarationForm"
                               asp-action="HourReg"
                               asp-route-declarationFormId="@form.FormId"
                               asp-route-userId="@ViewBag.User.EmployeeId"
                               asp-route-employeeName="@employeeName"
                               asp-route-month="@form.Month"
                               asp-route-year="@form.Year">
                                Inzien
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>