@model UrenRegistratieQien.Models.DeclarationFormModel
@{
    ViewData["Title"] = "HourReg";
    var uniqueId = Model.uniqueId;
    var formId = Model.FormId;
    var employeeName = ViewBag.User.FirstName + " " + ViewBag.User.LastName;
    var model = (EmployeeModel)ViewBag.User;
}



<div class="Container-1">
    <div class="box-1">
        @Html.Partial("_SideBoxEmployee", model)
    </div>

    <div class="box-2"></div>

    <form method="post" asp-action="HourReg" asp-controller="Employee" enctype="multipart/form-data">
        <div>
            <div>
                @if (Model.Comment != null)
                {
                    string commentaarString = "Rede voor afkeuring: " + Model.Comment;
                    @commentaarString

                }
            </div>
            @{ if (Model.Submitted == true)
                {
                    @Html.HiddenFor(m => m.FormId)
                    @Html.HiddenFor(m => m.EmployeeId)
                    @Html.HiddenFor(m => m.Year)
                    @Html.HiddenFor(m => m.Month)
                    @Html.HiddenFor(m => m.EmployeeName)
                    <table class="fl-table table-wrapper" align="center">
                        <thead>
                            <tr>
                                <th class="tableHeader">Date</th>
                                <th class="tableHeader">Gewerkt</th>
                                <th class="tableHeader">Overwerk</th>
                                <th class="tableHeader">Ziekte</th>
                                <th class="tableHeader">Vakantie</th>
                                <th class="tableHeader">Feestdagen</th>
                                <th class="tableHeader">Training</th>
                                <th class="tableHeader">Overig</th>
                                <th>Overig Uitleg</th>
                            </tr>
                        </thead>

                        <tbody>
                            @Html.DisplayFor(m => Model.HourRows)
                        </tbody>
                    </table>
                }
                else
                {
                    <input class="btn-primary btn btnposition" type="file" name="file" /> <br />

                    @Html.HiddenFor(m => m.FormId)
                    @Html.HiddenFor(m => m.EmployeeId)
                    @Html.HiddenFor(m => m.Year)
                    @Html.HiddenFor(m => m.Month)
                    <div class="btnposition" style="color: red;">@ViewBag.ErrorMessage</div>

                    <table class="fl-table table-wrapper" align="center">
                        <thead>
                            <tr>
                                <th class="tableHeader">Date</th>
                                <th class="tableHeader">Gewerkt</th>
                                <th class="tableHeader">Overwerk</th>
                                <th class="tableHeader">Ziekte</th>
                                <th class="tableHeader">Vakantie</th>
                                <th class="tableHeader">Feestdagen</th>
                                <th class="tableHeader">Training</th>
                                <th class="tableHeader">Overig</th>
                                <th>Overig Uitleg</th>
                            </tr>
                        </thead>

                        <tbody>
                            @Html.EditorFor(m => Model.HourRows)
                        </tbody>
                    </table>
                    <button class="btn-primary btn btn-hourreg" asp-action="HourReg" asp-controller="Employee">Opslaan</button>
                    <button class="btn-primary btn btn-hourreg" asp-action="Mailservice" asp-controller="Mailservice" asp-route-uniqueId="@uniqueId" asp-route-formId="@formId" asp-route-employeeName="@employeeName">Opslaan en indienen</button>
                }
            }
        </div>
    </form>
</div>
