
@model UrenRegistratieQien.Models.EmployeeModel

@{
    ViewData["Title"] = "Info";
    ViewBag.User = Model;
}

<div class="Container-1">
    <div class="box-1">
        @Html.Partial("_SideBoxEmployee", Model)
    </div>
    <div class="box-2" align="center">
        <table class="fl-table table-wrapper one">
            <thead>
                <tr width="100">
                    <th class="textleft">Werknemer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="textleft">Naam</td>
                    <td class="notbold textleft">@Model.FirstName @Model.LastName</td>
                </tr>
                <tr>
                    <td class="textleft">Adres</td>
                    <td class="notbold textleft">@Model.Address</td>
                </tr>
                <tr>
                    <td class="textleft">Postcode en woonplaats</td>
                    <td class="notbold textleft">@Model.ZIPCode @Model.Residence</td>
                </tr>
                <tr>
                    <td class="textleft">Telefoonnummer</td>
                    <td class="notbold textleft">@Model.Phone</td>
                </tr>
                <tr>
                    <td class="textleft">E-mailadres</td>
                    <td class="notbold textleft">@Model.Email</td>
                </tr>
            </tbody>
        </table>
        <table class="fl-table table-wrapper two">
            <thead>
                <tr>
                    <th class="textleft">Werkgever</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="textleft">Bedrijf</td>
                    <td class="notbold textleft">@ViewBag.Client.CompanyName</td>
                </tr>
                <tr>
                    <td class="textleft">Naam</td>
                    <td class="notbold textleft">@ViewBag.Client.Contact1Name</td>
                </tr>
                <tr>
                    <td class="textleft">Telefoonnummer</td>
                    <td class="notbold textleft">@ViewBag.Client.Contact1Phone</td>
                </tr>
                <tr>
                    <td class="textleft">E-mailadres</td>
                    <td class="notbold textleft">@ViewBag.Client.Contact1Email</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

