@model List<EmployeeModel>

<div class="Container-1">
    <div class="box-1">
        @Html.Partial("_SideBoxAdmin")
    </div>

    <div class="box-2">

        @using (Html.BeginForm("SearchOverview", "Employee", FormMethod.Get))
        {
            @Html.TextBox("searchString")
            <input type="submit" value="Zoeken" class="btn btn-login" />
        }
        <table class="fl-table table-wrapper" align="center">



            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Type Medewerker</th>
                    <th>wijzig | verwijder</th>
                </tr>
            <thead>

            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.FirstName @employee.LastName</td>
                        <td>
                            @if (employee.Role == 1)
                            {
                                <text>Admin</text>
                            }
                            else if (employee.Role == 2)
                            {
                                <text>Medewerker</text>
                            }
                            else if (employee.Role == 3)
                            {
                                <text>Trainee</text>
                            }
                            else if (employee.Role == 4)
                            {
                                <text>Inactief</text>
                            }
                        </td>
                        <td>
                            <a asp-area=""
                               asp-controller="Admin"
                               asp-action="ChangeEmployee"
                               asp-route-EmployeeId="@employee.EmployeeId">
                                Wijzig
                            </a>
                            |
                            @Html.ActionLink("Delete", "DeleteEmployee", new { EmployeeId = employee.EmployeeId }, new { onclick = "return confirm('Weet je zeker dat je de medewerker wilt verwijderen?');" })
                            @*<a asp-area=""
                                   asp-controller="Admin"
                                   asp-action="DeleteEmployee"
                                   asp-route-EmployeeId="@employee.EmployeeId">
                                   Verwijder
                                </a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
