@model UrenRegistratieQien.Models.ClientModel

<div class="Container-1">
    <div class="box-1">
        @Html.Partial("_SideBoxAdmin")
    </div>


    <div class="box-2">
        <form asp-controller="Admin" asp-action="AddClient">
            @Html.HiddenFor(m => m.ClientId)
            <table class="fl-table table-wrapper" align="center">
                <thead>
                    <tr>
                        <th>Gegevens</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(m => m.CompanyName)</td>
                        <td>@Html.TextBoxFor(m => m.CompanyName)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.CompanyPhone)</td>
                        <td>@Html.TextBoxFor(m => m.CompanyPhone)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Contact1Name)</td>
                        <td>@Html.TextBoxFor(m => m.Contact1Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Contact1Phone)</td>
                        <td>@Html.TextBoxFor(m => m.Contact1Phone)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Contact1Email)</td>
                        <td>@Html.TextBoxFor(m => m.Contact1Email)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Contact2Name)</td>
                        <td>@Html.TextBoxFor(m => m.Contact2Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Contact2Phone)</td>
                        <td>@Html.TextBoxFor(m => m.Contact2Phone)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Contact2Email)</td>
                        <td>@Html.TextBoxFor(m => m.Contact2Email)</td>
                    </tr>
                </tbody>
            </table>
            <div class="btnCenter"><button type="submit" class="btn-primary btn btnCenter">Toevoegen</button></div>
        </form>
    </div>
</div>


