@using UrenRegistratieQien.Models
@using System.Collections.Generic
@model List<DeclarationFormModel>

@{
    ViewData["Title"] = "Administrator Page";

    var employeeNames = new List<string>();
    foreach(DeclarationFormModel declarationFormModel in ViewBag.AllForms)
    {
        if (!employeeNames.Contains(declarationFormModel.EmployeeName))
        {
            employeeNames.Add(declarationFormModel.EmployeeName);
        }
    }


}



<div align="center">
    <h1>Welkom, administrator</h1>
    <a class="text-dark linkjes" asp-area="Identity" asp-page="/Account/Register">Maak een gebruiker aan</a>
</div>

<form>
    <input type="submit" asp-controller="Mailservice" asp-action="MailService" value="verstuur mail naar opdrachtgever">
</form>

<br />
<br />
<div align="center">
    <h1>Uren Totaal Overzicht</h1>
</div>

<div class="table-wrapper">
    <table class="fl-table" align="center">
        <thead>
            <tr>
                <th>Maand</th>
                <th>Uren gewerkt</th>
                <th>Overwerk</th>
                <th>Ziekte</th>
                <th>Vakantie</th>
                <th>Feestdagen</th>
                <th>Training</th>
                <th>Overig</th>
            </tr>
        <thead>

            <tr>
                <td>
                    <select>
                        @foreach (DeclarationFormModel declarationFormModel in Model)
                        {
                            <option onselect="?" value=@declarationFormModel.Month>@declarationFormModel.Month</option>

                        }

                    </select>

                </td>
                <td>@ViewBag.TotalHoursWorked</td>
                <td>@ViewBag.TotalHoursOvertime</td>
                <td>@ViewBag.TotalHoursSickness</td>
                <td>@ViewBag.TotalHoursVacation</td>
                <td>@ViewBag.TotalHoursHoliday</td>
                <td>@ViewBag.TotalHoursTraining</td>
                <td>@ViewBag.TotalHoursOther</td>

            </tr>


    </table>
</div>


<br />
<br />


@*@using (Html.BeginForm("Invoeradres", "Admin"))
    {
        @Html.TextBox("invoerid")
        <input type="submit" />
        @Html.DropDownList("maand")

    }*@



<div>
    <div align="center">
        <h1>Totaaloverzicht</h1>
    </div>


    <div class="table-wrapper">
        <table class="fl-table" align="center">
            <thead>
                @using (Html.BeginForm("Admin", "Admin"))
                {
                    <input type="submit" value="Filters Toepassen" />
                    <tr>
                        <th>
                            Medewerker Naam
                            @Html.DropDownList("employeeName", new SelectList(employeeNames), "Geen filter")
                        </th>
                        <th>
                            Maand
                            @Html.DropDownList("month", new SelectList(Enum.GetValues(typeof(Months))), "Geen filter")
                        </th>
                        <th>
                            Goedgekeurd
                            @Html.DropDownList("approved", new SelectList(new List<string> { "Goedgekeurd", "Niet goedgekeurd"}), "Geen filter")
                        </th>
                        <th>
                            Ingediend
                            @Html.DropDownList("submitted", new SelectList(new List<string> { "Ingediend", "Niet ingediend" }), "Geen filter")
                        </th>
                        <th>Commentaar</th>
                        <th>Inzien</th>
                    </tr>

                }
            </thead>


            <tbody>
                
                @foreach (DeclarationFormModel declarationFormModel in Model)
                {
                    
                    <tr>
                        <td>@declarationFormModel.EmployeeName</td>
                        <td>@declarationFormModel.Month</td>
                        <td>
                            @if (declarationFormModel.Approved == true)
                            {
                                <img class="center" src="..\..\Images\Checkmark.jpg" style="margin: 0 auto; height: 15px; width: 20px" />
                            }
                            else
                            {
                                <img class="center" src="..\..\Images\xmark.png" style="margin: 0 auto; height: 15px; width: 15px" />
                            }
                        </td>
                        <td>
                            @if (declarationFormModel.Submitted == true)
                            {
                                <img class="center" src="..\..\Images\Checkmark.jpg" style="margin: 0 auto; height: 15px; width: 20px" />
                            }
                            else
                            {
                                <img class="center" src="..\..\Images\xmark.png" style="margin: 0 auto; height: 15px; width: 15px" />
                            }
                        </td>
                        <td>@declarationFormModel.Comment</td>
                        <td>
                            <a class="nav-link text-dark linkjes"
                               asp-area=""
                               asp-controller="Admin"
                               asp-action="ViewDeclarationForm"
                               asp-route-formId="@declarationFormModel.FormId">
                                Inzien
                      </a>
                    </td>
                    <td>
                        <form asp-controller="admin" 
                              asp-action="oefenmethode" 
                              asp-route-oefengetal="@declarationFormModel.FormId">
                            <button type="submit">click me</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

