@using UrenRegistratieQien.Models
@using System.Collections.Generic
@model List<DeclarationFormModel>

@{
    ViewData["Title"] = "Administrator Page";

    var employeeNames = new List<string>();

    foreach (DeclarationFormModel declarationFormModel in ViewBag.AllForms)

    {
        if (!employeeNames.Contains(declarationFormModel.EmployeeName))
        {
            employeeNames.Add(declarationFormModel.EmployeeName);
        }
    }

    var years = new List<int>();
    foreach (DeclarationFormModel declarationFormModel in ViewBag.AllForms)
    {
        if (!years.Contains(declarationFormModel.Year))
        {
            years.Add(declarationFormModel.Year);
        }
    }
    var stringAscending = "Ascending";
    var stringDescending = "Descending";
}


<div class="Container-1">
    <div class="box-1">
        @Html.Partial("_SideBoxAdmin")
    </div>

    <div class="box-2">
        <div align="center">
            <h1>Uren Totaal Overzicht</h1>
        </div>
        </td>
        <div>
            <div class="table-wrapper">
                <table class="fl-table" align="center">
                    <thead>
                        <tr>
                            <th>Jaar</th>
                            <th>Maand</th>
                            <th>Uren gewerkt</th>
                            <th>Overwerk</th>
                            <th>Ziekte</th>
                            <th>Vakantie</th>
                            <th>Feestdagen</th>
                            <th>Training</th>
                            <th>Overig</th>
                        </tr>
                    <thead>
                        @using (Html.BeginForm("Admin", "Admin"))
                        {
                            <input type="submit" class="btn-primary" value="Filter ->" />
                            <tr>
                                <td>
                                    @Html.DropDownList("totalhoursyear", new SelectList(years), DateTime.Now.Year)
                                </td>
                                <td>
                                    @Html.DropDownList("totalhoursmonth", new SelectList(Enum.GetValues(typeof(Months))), "Alle maanden")
                                </td>
                                <td>@ViewBag.TotalHoursWorked</td>
                                <td>@ViewBag.TotalHoursOvertime</td>
                                <td>@ViewBag.TotalHoursSickness</td>
                                <td>@ViewBag.TotalHoursVacation</td>
                                <td>@ViewBag.TotalHoursHoliday</td>
                                <td>@ViewBag.TotalHoursTraining</td>
                                <td>@ViewBag.TotalHoursOther</td>
                            </tr>
                        }
                </table>
            </div>
        </div>
        <br />
        <br />
        <div>
            <div align="center">
                <h1>Totaaloverzicht</h1>
            </div>
            <div class="table-wrapper">
                <table class="fl-table" align="center">
                    <thead>
                        @using (Html.BeginForm("Admin", "Admin"))
                        {
                            <input type="submit" value="Filters Toepassen" />
                            <tr>
                                <th>
                                    Datum Aangemaakt
                                    @{
                                        if (ViewBag.SortDate == stringAscending)
                                        {
                                            <button type="submit" asp-route-sortDate=@stringDescending><img src="..\..\Images\sortbyAscending.png" width="17"></button>
                                        }
                                        else
                                        {
                                            <button type="submit" asp-route-sortDate=@stringAscending><img src="..\..\Images\sortbyDescending.png" width="17"></button>
                                        }
                                    }
                                </th>
                                <th>
                                    Medewerker Naam
                                    @Html.DropDownList("employeeName", new SelectList(employeeNames), "Geen filter")
                                </th>
                                <th>
                                    Jaar
                                    @Html.DropDownList("year", new SelectList(years), "Geen filter")
                                </th>
                                <th>
                                    Maand
                                    @Html.DropDownList("month", new SelectList(Enum.GetValues(typeof(Months))), "Geen filter")
                                </th>
                                <th>
                                    Goedgekeurd
                                    @Html.DropDownList("approved", new SelectList(new List<string> { "Goedgekeurd", "Niet goedgekeurd" }), "Geen filter")
                                </th>
                                <th>
                                    Ingediend
                                    @Html.DropDownList("submitted", new SelectList(new List<string> { "Ingediend", "Niet ingediend" }), "Geen filter")
                                </th>
                                <th>Commentaar</th>
                                <th class="tableHeader"></th>
                            </tr>

                        }
                    </thead>
                    <tbody>
                        @foreach (DeclarationFormModel declarationFormModel in Model)
                        {
                            <tr>
                                <td>@declarationFormModel.DateCreated</td>
                                <td>@declarationFormModel.EmployeeName</td>
                                <td>@declarationFormModel.Year</td>
                                <td>@declarationFormModel.Month</td>
                                <td>
                                    @if (declarationFormModel.Approved == "Approved")
                                    {
                                        <img class="center" title="Goedgekeurd" src="..\..\Images\Checkmark.png" style="margin: 0 auto; height: 15px; width: 25px" />
                                    }
                                    else if (declarationFormModel.Approved == "Rejected")
                                    {
                                        <img class="center" title="Afgekeurd" src="..\..\Images\xmark.png" style="margin: 0 auto; height: 15px; width: 15px" />
                                    }
                                    else if (declarationFormModel.Approved == "Pending")
                                    {
                                        <img class="center" title="Pending" src="..\..\Images\Pending.jpg" style="margin: 0 auto; height: 25px; width: 25px" />
                                    }
                                </td>
                                <td>
                                    @if (declarationFormModel.Submitted == true)
                                    {
                                        <img class="center" title="Goedgekeurd" src="..\..\Images\Checkmark.png" style="margin: 0 auto; height: 15px; width: 25px" />
                                    }
                                    else
                                    {
                                        <img class="center" title="Afgekeurd" src="..\..\Images\xmark.png" style="margin: 0 auto; height: 15px; width: 15px" />
                                    }
                                </td>
                                <td>@declarationFormModel.Comment</td>
                                <td>
                                    <a asp-area=""
                                       asp-controller="Admin"
                                       asp-action="ViewDeclarationForm"
                                       asp-route-formId="@declarationFormModel.FormId">
                                        Inzien
                                    </a>
                                    |
                                    <a asp-area=""
                                       asp-controller="Admin"
                                       asp-action="ReopenForm"
                                       asp-route-formId="@declarationFormModel.FormId">
                                        Heropenen
                                    </a>
                                    |
                                    @Html.ActionLink("Delete", "DeleteDeclarationForm", new { FormId = declarationFormModel.FormId }, new { onclick = "return confirm('Are you sure you want to delete?');" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
