@model ClientModel

<div class="Container-1">
    <div class="box-1">
        @Html.Partial("_SideBoxAdmin")
    </div>

    <div class="box-2">
        <form asp-controller="Admin" asp-action="EditClient">
            @Html.HiddenFor(m => m.ClientId)
            <table class="fl-table table-wrapper" align="center">
                <thead>
                    <tr>
                        <th>In database</th>
                        <th>Nieuw</th>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td>Bedrijfsnaam</td>
                        <td class="notbold">@Html.TextBoxFor(m => m.CompanyName)</td>
                    </tr>
                    <tr>
                        <td>Algemeen telefoonnummer</td>
                        <td class="notbold">@Html.TextBoxFor(m => m.CompanyPhone)</td>
                    </tr>
                    <tr>
                        <td>Naam 1e contactpersoon</td>
                        <td class="notbold">@Html.TextBoxFor(m => m.Contact1Name)</td>
                    </tr>
                    <tr>
                        <td>Telefoonnummer 1e contactpersoon</td>
                        <td class="notbold">@Html.TextBoxFor(m => m.Contact1Phone)</td>
                    </tr>
                    <tr>
                        <td>E-mailadres 1e contactpersoon</td>
                        <td class="notbold">@Html.TextBoxFor(m => m.Contact1Email)</td>
                    </tr>
                    <tr>
                        <td>Naam 2e contactpersoon</td>
                        <td class="notbold">@Html.TextBoxFor(m => m.Contact2Name)</td>
                    </tr>
                    <tr>
                        <td>Telefoonnummer 2e contactpersoon</td>
                        <td class="notbold">@Html.TextBoxFor(m => m.Contact2Phone)</td>
                    </tr>
                    <tr>
                        <td>E-mailadres 2e contactpersoon</td>
                        <td class="notbold">@Html.TextBoxFor(m => m.Contact2Email)</td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn-primary btn btnposition">Opslaan</button>
        </form>
    </div>
</div>
