@model ClientModel

<div class="Container-1">
    <div class="box-1">
        <div class="Naam">Admin</div>
        <div align="center"><img src="..\..\Images\UserImageTest.jpg" style="margin: 0 auto; height: 140px; width: 140px" /></div>
        <div class="TextInBox">Algemeen</div>
        <a asp-controller="Admin" asp-action="Admin">Dashboard</a>
        <br />
        <br />
        <br />
        <div class="TextInBox">Medewerkers</div>
        <a asp-controller="Admin" asp-action="ShowEmployees">Medewerkers</a> <br />
        <a asp-area="Identity" asp-page="/Account/Register">Maak een gebruiker aan</a>
        <br />
        <br />
        <br />
        <div class="TextInBox">Opdrachtgevers</div>
        <a asp-controller="Admin" asp-action="ShowClients">Voeg opdrachtgever toe</a><br />
        <a asp-controller="Admin" asp-action="AddClient">opdrachtgevers</a>
    </div>

    <div class="box-2">
        <form asp-controller="Admin" asp-action="EditClient">
            @Html.HiddenFor(m => m.ClientId)
            <table class="fl-table table-wrapper" align="center">
                <thead>
                    <tr>
                        <th>In database</th>
                        <th>Nieuw</th>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <td>Bedrijfsnaam</td>
                        <td>@Html.TextBoxFor(m => m.CompanyName)</td>
                    </tr>
                    <tr>
                        <td>Algemeen telefoonnummer</td>
                        <td>@Html.TextBoxFor(m => m.CompanyPhone)</td>
                    </tr>
                    <tr>
                        <td>Naam 1e contactpersoon</td>
                        <td>@Html.TextBoxFor(m => m.Contact1Name)</td>
                    </tr>
                    <tr>
                        <td>Telefoonnummer 1e contactpersoon</td>
                        <td>@Html.TextBoxFor(m => m.Contact1Phone)</td>
                    </tr>
                    <tr>
                        <td>E-mailadres 1e contactpersoon</td>
                        <td>@Html.TextBoxFor(m => m.Contact1Email)</td>
                    </tr>
                    <tr>
                        <td>Naam 2e contactpersoon</td>
                        <td>@Html.TextBoxFor(m => m.Contact2Name)</td>
                    </tr>
                    <tr>
                        <td>Telefoonnummer 2e contactpersoon</td>
                        <td>@Html.TextBoxFor(m => m.Contact2Phone)</td>
                    </tr>
                    <tr>
                        <td>E-mailadres 2e contactpersoon</td>
                        <td>@Html.TextBoxFor(m => m.Contact2Email)</td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Opslaan</button>
        </form>
    </div>
</div>
