<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

@model List<TotalsForChartModel>
@{
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Month).ToList());
    var Worked = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.TotalWorkedHours).ToList());
    var Sickness = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.TotalSickness).ToList());
    var Vacation = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.TotalVacation).ToList());
    var Training = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.TotalTraining).ToList());
    var Overtime = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.TotalOvertime).ToList());
    var Other = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.TotalOther).ToList());
    var Holiday = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.TotalHoliday).ToList());
    var year = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Year).ToList());


    ViewData["Title"] = "Line Chart";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bar</title>
</head>
<body>
    <div class="box-body">
        <div class="chart-container">
            <canvas id="chart" style="width:100%; height:500px"></canvas>
        </div>
    </div>
</body>
</html>

<form asp-controller="Admin" asp-action="Charts">
    @Html.DropDownList("year", new SelectList(ViewBag.years), "Geen filter")
    <button >Pas jaar aan</button>
</form>


<script type="text/javascript">

        $(function () {
    var chartName = "chart";
        var ctx = document.getElementById(chartName).getContext('2d');
        var data = {
                labels: @Html.Raw(XLabels),
                datasets: [{
                    label: "Gewerkte uren",
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                    ],
                    borderWidth: 1,
                    data: @Html.Raw(Worked),
                }, {
                    label: "Overwerk",
                    backgroundColor: [
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                        'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1,
                        data: @Html.Raw(Overtime),
                },{
                    label: "Ziekte",
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1,
                        data: @Html.Raw(Sickness),
                }, {
                    label: "Vakantie",
                    backgroundColor: [
                        'rgba(255, 206, 86, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1,
                        data: @Html.Raw(Vacation),
                }, {
                    label: "Feestdagen",
                    backgroundColor: [
                        'rgba(0, 255, 0, 0.2)',
                    ],
                    borderColor: [
                        'rgba(0, 255, 0, 1)',
                    ],
                    borderWidth: 1,
                        data: @Html.Raw(Holiday),
                }, {
                    label: "Training",
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                    ],
                    borderWidth: 1,
                        data: @Html.Raw(Training),
                }, {
                    label: "Overig",
                    backgroundColor: [
                        'rgba(255, 0, 0, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 0, 0, 1)',
                    ],
                    borderWidth: 1,
                        data: @Html.Raw(Other),
                },
            ]
            };



var options = {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: true,
                            color: "rgba(255,99,164,0.2)"
                        }
}],
                    xAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                }
            };

       var myChart = new  Chart(ctx, {
                options: options,
                data: data,
                type:'line'

            });
        });
</script> 