@model List<EmployeeModel>
<br />
<br />
<br />
<br />

<div class="Container-1">
    <div class="box-1">
        <div class="Naam">Admin</div>
        <div align="center"><img src="..\..\Images\UserImageTest.jpg" style="margin: 0 auto; height: 140px; width: 140px" /></div>
        <div class="TextInBox">Algemeen</div>
        <a asp-controller="Admin" asp-action="Admin">Dashboard</a>
        <br />
        <br />
        <br />
        <div class="TextInBox">Medewerkers</div>
        <a asp-controller="Admin" asp-action="ShowEmployees">Medewerkers</a> <br />
        <a asp-area="Identity" asp-page="/Account/Register">Maak een gebruiker aan</a>
        <br />
        <br />
        <br />
        <div class="TextInBox">Opdrachtgevers</div>
        <a asp-controller="Admin" asp-action="ShowClients">Voeg opdrachtgever toe</a><br />
        <a asp-controller="Admin" asp-action="AddClient">Opdrachtgevers</a>
    </div>

    <div class="box-2">
        <table class="fl-table table-wrapper" align="center">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Type Medewerker</th>
                    <th>wijzig | verwijder</th>
                </tr>
            <thead>

            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.FirstName @employee.LastName</td>
                        <td>@employee.Role</td>
                        <td>
                            <a asp-area=""
                               asp-controller="Admin"
                               asp-action="ChangeEmployee"
                               asp-route-EmployeeId="@employee.EmployeeId">
                                Wijzig
                            </a>
                            |
                            @Html.ActionLink("Delete", "DeleteEmployee", new { EmployeeId = employee.EmployeeId }, new { onclick = "return confirm('Are sure wants to delete?');" })
                            @*<a asp-area=""
                                   asp-controller="Admin"
                                   asp-action="DeleteEmployee"
                                   asp-route-EmployeeId="@employee.EmployeeId">
                                   Verwijder
                                </a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
