@model List<EmployeeModel>

<div class="table-wrapper">
    <table class="fl-table" align="center">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Type Medewerker</th>
                <th>wijzig | verwijder</th>
            </tr>
        <thead>
        
        <tbody>
        @foreach(var employee in Model)
        {
                <tr>
                    <td>@employee.FirstName @employee.LastName</td>
                    <td>@employee.Role</td>
                    <td>
                        <a asp-area=""
                           asp-controller="Admin"
                           asp-action="ChangeEmployee"
                           asp-route-EmployeeId="@employee.EmployeeId">
                           Wijzig   
                        </a>
                         | 
                         @Html.ActionLink("Delete", "DeleteEmployee", new { EmployeeId = employee.EmployeeId }, new { onclick = "return confirm('Are sure wants to delete?');" })
                        @*<a asp-area=""
                           asp-controller="Admin"
                           asp-action="DeleteEmployee"
                           asp-route-EmployeeId="@employee.EmployeeId">
                           Verwijder   
                        </a>*@</td>
                </tr>
        }
        </tbody>
    </table>
</div>
