@model DeclarationFormModel
@{
    ViewData["Title"] = "ViewDeclarationForm";
}
<br />
<br />
<br />
<br />

<div class="Container-1">
    <div class="box-1">
        <div class="Naam">Admin</div>
        <div align="center"><img src="..\..\Images\UserImageTest.jpg" style="margin: 0 auto; height: 140px; width: 140px" /></div>
        <div class="TextInBox">Algemeen</div>
        <a asp-controller="Admin" asp-action="Admin">Dashboard</a>
        <br />
        <br />
        <br />
        <div class="TextInBox">Medewerkers</div>
        <a asp-controller="Admin" asp-action="ShowEmployees">Medewerkers</a> <br />
        <a asp-area="Identity" asp-page="/Account/Register">Maak een gebruiker aan</a>
        <br />
        <br />
        <br />
        <div class="TextInBox">Opdrachtgevers</div>
        <a asp-controller="Admin" asp-action="ShowClients">Voeg opdrachtgever toe</a><br />
        <a asp-controller="Admin" asp-action="AddClient">opdrachtgevers</a>
    </div>

    <div class="box-2">
        <table align="center" class="fl-table table-wrapper">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Gewerkt</th>
                    <th>Overwerk</th>
                    <th>Ziekte</th>
                    <th>Vakantie</th>
                    <th>Feestdagen</th>
                    <th>Training</th>
                    <th>Overig</th>
                    <th>Overig Uitleg</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var hourRow in Model.HourRows)
                {
                    <tr>
                        <td>@hourRow.Date</td>
                        <td>@hourRow.Worked</td>
                        <td>@hourRow.Overtime</td>
                        <td>@hourRow.Sickness</td>
                        <td>@hourRow.Vacation</td>
                        <td>@hourRow.Holiday</td>
                        <td>@hourRow.Training</td>
                        <td>@hourRow.Other</td>
                        <td>@hourRow.OtherExplanation</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
