@model DeclarationFormModel
@{
    ViewData["Title"] = "ViewDeclarationForm";
    int i = 0;
}

<div class="Container-1">
    <div class="box-1">
        @Html.Partial("_SideBoxAdmin")
    </div>

    <div class="box-2">
        <form>
            <a asp-area=""
               asp-controller="Admin"
               asp-action="DownloadExcel"
               asp-route-formId="@Model.FormId">
                Download Excel
            </a>
        </form>

        <table align="center" class="fl-table table-wrapper">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Gewerkt</th>
                    <th>Overwerk</th>
                    <th>Ziekte</th>
                    <th>Vakantie</th>
                    <th>Feestdagen</th>
                    <th>Training</th>
                    <th>Overig</th>
                    <th>Overig Uitleg</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var hourRow in Model.HourRows)
                {
                    
                    if (i == 15)
                    {

                        <thead>
                            <tr>
                                <th class="tableHeader">Date</th>
                                <th class="tableHeader">Gewerkt</th>
                                <th class="tableHeader">Overwerk</th>
                                <th class="tableHeader">Ziekte</th>
                                <th class="tableHeader">Vakantie</th>
                                <th class="tableHeader">Feestdagen</th>
                                <th class="tableHeader">Training</th>
                                <th class="tableHeader">Overig</th>
                                <th>Overig Uitleg</th>
                            </tr>
                        </thead>
                    }
                    i += 1;
                    
                        <tr>
                            <td>@hourRow.Date</td>
                            <td>@hourRow.Worked</td>
                            <td>@hourRow.Overtime</td>
                            <td>@hourRow.Sickness</td>
                            <td>@hourRow.Vacation</td>
                            <td>@hourRow.Holiday</td>
                            <td>@hourRow.Training</td>
                            <td>@hourRow.Other</td>
                            <td>@hourRow.OtherExplanation</td>
                        </tr>
                 }
             </tbody>
        </table>
    </div>
</div>
