@model UrenRegistratieQien.Models.HourRowModel

<tr>
    <td>@Model.Date</td>
    <td>@Model.Worked</td>
    <td>@Model.Overtime</td>
    <td>@Model.Sickness</td>
    <td>@Model.Vacation</td>
    <td>@Model.Holiday</td>
    <td>@Model.Training</td>
    <td>@Model.Other</td>
    <td>@Model.OtherExplanation</td>
</tr>