@*@model List<UrenRegistratieQien.Models.UserModel>*@      @*//////////// model nog aanpassen*@
@{
    ViewData["Title"] = "HourReg";
}
    <div align="center">
        <h1>Urendeclaratie Januari-2020</h1>
        </div>
          
            <br>
            <table align="center" class="tableHoursReg">
                <tr>
                    <th>Datum</th>
                    <th>Gewerkt</th>
                    <th>Overwerk</th>
                    <th>Ziekte</th>
                    <th>Vakantie</th>
                    <th>Feestdagen</th>
                    <th>Training</th>
                    <th>Overig</th>
                    <th>Overig Uitleg</th>
                </tr>

                @*/////////////// dit hieronder met de ingevulde mag weg en vervangen door hetgeen eronder.*@
                <tr>
                    <td>Deze is voor enkel inzien</td>
                    <td>40</td>
                    <td>8</td>
                    <td>16</td>
                    <td>8</td>
                    <td>8</td>
                    <td>16</td>
                    <td>8</td>
                    <td>Boodschappen</td>
                </tr>

                <tr>
                    <td><input type="text" id="row-1-age" size="15" value="Deze is aanpasbaar"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="15" value="Notitie"</td>

                </tr>

                <tr>
                    <td><input type="text" id="row-1-age" size="15" value="Deze is aanpasbaar"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="4" value="0"</td>
                    <td><input type="text" id="row-1-age" size="15" value="Notitie"</td>

                </tr>

                @*///////////////// met juiste model/namen zou dit hieronder moeten werken*@
                @*//// Code hieronder is inzien maand x*@

                @*@foreach (var d in Model)
                {
                    <tr>
                        <td>@d.Date</td>
                        <td>@d.Worked</td>
                        <td>@d.Overtime</td>
                        <td>@d.Sickness</td>
                        <td>@d.Vacation</td>
                        <td>@d.Holiday</td>
                        <td>@d.Training</td>
                        <td>@d.Other</td>
                        <td>@d.OtherExplanation</td>
                      </tr>

                }*@
            </table>

            @*<div align="right">
                @Html.ActionLink("Opslaan", "Save", "Home")
                @Html.ActionLink("Opslaan en indienen", "SaveAndSubmit", "Home")
            </div>*@
            <br>
            <div align="right">
                <input type="button" value="Opslaan" onclick="location.href='@Url.Action("Save", "User")'" />
                <input type="button" align="right" value="Opslaan en indienen" onclick="location.href='@Url.Action("SaveAndSubmit", "User")'" />
            </div>
